.footer {
  background-color: #1a8910;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

.socialLinks {
  display: flex;
  gap: 15px;
}

.socialLinks a {
  color: #fff;
  transition: transform 0.2s ease, color 0.2s ease;
}

.socialLinks a:hover {
  transform: scale(1.2);
  color: #976cb6;
}

.socialLinks img {
  width: 24px;
  height: 24px;
  filter: invert(100%);
  transition: transform 0.2s ease;
}

.socialLinks img:hover {
  transform: scale(1.2);
}